.container {
	min-height: 100vh;
	background: rgba(3, 3, 3, 0.5);
	position: absolute;
	left: 0rem;
	top: 0rem;
	width: 100vw;
	z-index: 5;
	display: flex;
	align-items: center;

	flex-direction: column;
}

.form {
	background: #15202b;
	width: 525px;
	min-height: 15vh;
	display: flex;
	margin-top: 4rem;
	font-size: 1.6rem;
	color: white;
	display: flex;
	flex-direction: column;
	padding: 1rem;
	border-radius: 2rem;

	animation: formAnimation 1s ease-in-out;
}

@keyframes formAnimation {
	from {
		transform: translateY(-100%);
	}
	to {
		transform: translateY(0%);
	}
}

.tweet {
	display: flex;
	padding: 2rem;
}

.exitForm {
	cursor: pointer;
}

.tweet img,
.user-replying img {
	border-radius: 50%;
	object-fit: cover;
	width: 50px;
	height: 50px;
}

.tweet-info {
	margin-left: 2rem;
}

.text {
	margin-top: 0.9rem;
}

.top-info-username {
	color: gray;
}

.replying-to {
	margin-top: 1.5rem;
}

.replying-to a {
	margin-left: 0.5rem;
	color: rgb(65, 183, 252);
}

.user-replying {
	padding: 2rem;
	display: flex;
}

.user-replying form {
	width: 100%;
	height: 16vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.textarea {
	resize: none;
	background-color: transparent;
	height: 40%;
	width: 100%;
	color: white;
	padding: 1rem;
	border: none;
	font-size: 1.7rem;
	font-weight: normal;
}

.textarea:focus {
	outline: none;
}

.textarea::placeholder {
	font-size: 1.65rem;
}

.icons {
	display: flex;
	justify-content: space-between;
}

.icons img {
	width: 23px;
	height: 23px;

	margin-right: 2rem;
}
.btn {
	padding: 0.5rem 1rem;
	border: none;
	font-size: 1.8rem;
	border-radius: 3rem;
	cursor: pointer;
	background: #1d9bf0;
	color: white;
	transition: all 0.5s ease-in-out;
}

.btn:hover {
	background: #69bbf1;
}

.empty {
	width: 4%;
	background: grey;
	position: absolute;
	left: 2.3rem;
	height: 40%;
	bottom: 0rem;
	z-index: 2;
}

.border {
	position: relative;
}

.empty-bottom {
	width: 4%;
	background: grey;
	position: absolute;
	left: 2.3rem;
	height: 25%;
	top: -4rem;
	z-index: 2;
}

.replying-to span {
	color: gray;
}
