.container {
	height: 6vh;
	min-width: 100%;
	position: absolute;
	bottom: 0rem;
}

.popup {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #2e75b8;
	height: 100%;
}

.popup button {
	border: none;
	padding: 1rem 6rem;
	margin: 0rem 2rem;
	flex: 1;
	font-weight: bolder;
	border-radius: 3rem;
}

.popup button:hover {
	background: #d2d5d8;
	transition: all 0.6s ease-in-out;
}

.btnLeft {
	background: transparent;
	border: 0.2px solid #81c0fc !important;
	color: white;
}

.btnLeft:hover {
	background: #4b8cc9;
	transition: all 0.6s ease-in-out;
}

@media only screen and (min-width: 600px) {
	.container {
		display: block;
		animation: scrollUp 2.5s ease-in-out;
	}

	.popup {
		display: flex;
	}
	.popup button {
		padding: 1rem 6rem;
		margin: 0rem 2rem;
		flex: none;

		border-radius: 3rem;
		cursor: pointer;
	}
}

@media only screen and (max-width: 434px) {
	.popup button {
		padding: 1rem 2rem;
		margin: 0rem 2rem;
		flex: 1;

		border-radius: 3rem;
	}
}

/* Animations*/

@keyframes scrollUp {
	from {
		transform: translateX(-100%);
	}

	to {
		transform: translateX(0%);
	}
}
