.middle {
	flex: 1.5;
	border-left: 0.1px solid #2d4153;
	border-right: 0.1px solid #2d4153;
}

.top-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.top-header h2 {
	color: white;
	font-size: 1.6rem;
	margin-left: 1.5rem;
}

.top-header img {
	margin-right: 1.5rem;
}

.text-area {
	width: 86%;
	display: flex;
	flex-direction: column;
}

.image-textarea-user {
	margin-left: 1.5rem;
	border-radius: 50%;
	object-fit: cover;
	width: 40px;
	height: 40px;
}

.text-area textarea {
	resize: none;
	background-color: transparent;
	height: auto;
	width: 90%;
	color: white;
	padding: 1rem;
	border: none;
	font-size: 1.4rem;
	font-weight: normal;
}

.text-area textarea::placeholder {
	font-size: 1.8rem;
}

.text-area textarea:focus {
	outline: none;
}

.image-textarea {
	display: flex;
	margin-top: 1rem;
	width: 100%;
	min-height: 10vh;
	border-bottom: 0.1px solid #2d4153;
}

.icons {
	display: flex;
	height: auto;
	margin-left: 0.5rem;
	justify-content: space-between;
}

.AllIcons {
}

.icons img {
	width: 17px;
	height: 17px;
	margin-right: 1rem;
}

.tweetBtn {
	align-self: flex-end;
	padding: 0.5rem 1rem;
	border: none;
	font-size: 1.8rem;
	border-radius: 3rem;
	cursor: pointer;
	background: #1d9bf0;
	color: white;
	transition: all 0.5s ease-in-out;
}

.tweetBtn:hover {
	background: #5fb0e6;
}

.new-tweets {
	border-bottom: 0.1px solid #2d4153;
	font-size: 1.5rem;
	color: white;

	min-height: 2vh;
	display: flex;
	justify-content: center;
}

.new-tweets:hover {
	background: #2d4153;
}

.show-more {
	height: 100%;
	padding: 1rem 5rem;
}

.disabledBtn {
	cursor: not-allowed;
}
