html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-size: 62.5%;
	background: #060d11;
	overflow-x: hidden;
}

/* --color-primary: #15202b;
	--color-primary-light: #273340;
	--color-button: #1d9bf0;
	--color-text: #f7f9f9;
	--color-button-dark: #167dc1; */

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
	body {
		color: white;
		background: black;
	}
}
