.container {
	width: 70vw;
	margin: auto;
	position: relative;
}

.main {
	min-height: 100vh;
	padding-top: 2rem;

	display: flex;
}

.navbar {
	flex: 0.5;
}

.middle {
	flex: 1.5;
	border-left: 0.1px solid #2d4153;
	border-right: 0.1px solid #2d4153;
	border-top: 0.1px solid #2d4153;
}

.signup {
	flex: 1;
}

.nav {
	margin-top: 4rem;
}

.nav ul {
	list-style: none;
	padding: 0;
}

.navlinks {
	display: flex;
	align-items: center;
	font-size: 1.9rem;
	font-weight: 500;
	color: white;
	margin-bottom: 2rem;
	width: fit-content;
	padding: 1rem 0.5rem;
}

.navlinks:hover {
	background: #283a4d;
	border-radius: 0.5rem;
}

.navlinks img {
	margin-right: 2rem;
}

/* Second part*/
.input {
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 2px solid #395066;
	padding: 1rem;
}

.input input {
	width: 65%;
	padding: 1rem;
	border-radius: 2rem;
	margin-top: 0.2rem;
	font-size: 1.3rem;
	background: rgb(240, 236, 236);
	color: gray;
}

.input input:focus {
	outline: none;
	border: 2px solid;
	border-color: #a9cff8;
}

.imageContainer {
	position: relative;
	height: 40vh;
}

.text {
	display: flex;
	position: absolute;
	font-size: 1.9rem;
	color: white;
	font-weight: bold;
	bottom: 0;
	flex-direction: column;
	left: 12px;
}

.trendList {
	color: white;
	font-size: 1.9rem;
	margin-left: 1.5rem;
}

.trends {
	display: flex;
	flex-direction: column;
}

.trend {
	display: flex;
	flex-direction: column;
	margin-bottom: 2rem;
	padding: 0.5rem 0;
}

.trend:hover {
	background: #283a4d;
}

.trend span {
	font-size: 1.2rem !important;
	color: rgb(218, 214, 214);
}

.middleSpan {
	font-weight: bold;
	color: white !important;
}

.btn {
	color: #6fa4f3;
	padding: 1rem 0rem;
}

.btn:hover {
	background: #283a4d;
}

/* Third Part */

.signup {
	font-size: 1.9rem;
	color: white;
}

.signup-container {
	background: #283a4d;
	margin: 2rem;
	border-radius: 2rem;
	padding: 2rem;
}

.signup-btn {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 6rem;
}

.signup-btn button {
	padding: 1.5rem;
	width: 70%;
	border: none;
	margin: 0.5rem;
	border-radius: 1rem;
	cursor: pointer;
	font-weight: 600;
}

.signup-btn button:hover {
	background: #cbced1;
}
